@model IEnumerable<Physician_Directory.Models.Physician>

    @Styles.Render("~/Content/ViewPhysician.css")
    @Styles.Render(Layout = "~/Views/Shared/_Layout.cshtml")

@Html.Partial("ViewPhysician")
    <table class="table">
        <tr>
            <th>
                Physician Name
            </th>
            <th>
               Specialization
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @{
                    string fullName = item.FirstName + " " + item.LastName;
                }
                @Html.DisplayFor(modelItem => fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization.Name)
            </td>
            <td>  
                @Html.DisplayFor(modelItem => item.Specialization.Description)
            </td>
            <td>
                @Html.ActionLink(" ", "EditPhysician", new { id = item.Id }, new { @class = "edit-icon" })
                @Html.ActionLink(" ", "DeletePhysician", new { id = item.Id }, new { @class = "delete-icon" })
            </td>
        </tr>
    }
    
    </table>

